h2{
    margin: 0;
}
p,body{
    padding: 0;
    margin: 0;
}
div{
    box-sizing: border-box;
}

.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.multiLine{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
}

a{
    outline: none;
    text-decoration: transparent;
}
